.heading{
    font-size: 70;
    color:white;
    background-color: red;
    text-align: center;
}

.bold
{
    font-size: 40; 
 float : left;
 font-family: "Anton SC", sans-serif;
 font-weight: 400;
 font-style: normal;
}

p{
    font-size:40;
}










  